# Lab 1
(Prof. Carlos J. Costa)

**1)**  Verify if  a value is integer

**2)** Verify if a value is even

In [8]:
x= int(input("Verificar se o valor inserido é par: "))
print(x)
print(x%2 == 0)

Verificar se o valor inserido é par:  6

6
True

**3)** Insert two numbers. Is the first is bigger than the second?

In [ ]:
X=int(input("Inserir um número: "))
y=int(input("Inserir outro número: "))
print("O primeiro número é maior que o segundo" + str (x > y))

**4)** Verify if one value is multiple of another

In [3]:
x= int(input("inserir um número: "))
y= int(input("inserir outro número: "))
print("o valor é múltiplo do outro: " + str(x % y == 0 or y % x ==0))

inserir um número:  4
inserir outro número:  2

o valor é múltiplo do outro: True

**5)** Calculate the interest earn by an investor that 
invested a capital of 200 during 3 years with an interest rate of 3%. 
(I= P\*R\*T)

In [5]:
y= 3
c= 200
r= 0.03
print(c+y*c*r)

218.0

**6)** Capital that an investor obtained after 
investing a capital of 200 during 3 years with an interest rate of 3%. (Compound interest)

In [6]:
y=3
c=200
r=0.03
print(c*(1+r)**3)

218.5454

**7)** Calculate your BMI (Body Mass Index)  
   
$BMI = mass (kg)/height^2 (m)$

In [9]:
m= float(input("inserir peso"))
h= float(input("inserir altura"))
bmi= m/h**2
print(bmi)

inserir peso 69
inserir altura 1.81

21.06162815542871

**8)** Calcule the Golden ration:   
    
$gr=(1+\sqrt{5})/2$

1. Solve the problem without using libraries
2. Use module math (import math) and function sqr (math.sqrt)

In [20]:
import math
gr= float(1+math.sqrt(5))/(2)
print(gr)

1.618033988749895

**9)** Calculete the NPV (Net present value) of an investment, considering an initial investment of 10000, the following Cashflows 2000,3000, 4000, 4000 and 5000 and a discount rate of 10%.

$NPV = \sum_{t=1}^{n}\frac{FV_{t}}{(1 + k)^{t}} – I$

Where:

FV = Future cost of the cash inflows,
I = Initial Investment
k = Discount rate equal to the owner’s cost of capital

In [21]:
cf1= 2000
cf2= 3000
cf3= 4000
cf4= 4000
cf5= 5000
invinicial= 10000
r=0.1
NPV=(cf1/(1+r))+(cf2/(1+r)**2)+(cf3/(1+r)**3)+(cf4/(1+r)**4+(cf5/(1+r)**5)- invinicial)
print(NPV)

3139.440301519392

**10)** Ask the user to insert name and age. Calculate the the birth. Print a result saying the 'this person was born in'
1. Solve the problem without using modules and libraries
2. Solve the problem using the date library from module datetime, as fallow:
   
```python
from datetime import date   
today = date.today()   
today.year   
```

In [26]:
from datetime import date 
today = date.today() 
nome = input("Inserir o nome")
age= int(input("Inserir a idade"))
print(nome + " nasceu em " + str (today.year-age))

Inserir o nome Diogo
Inserir a idade 27

Diogo nasceu em 1994

**11)** Ask the user to insert forenames, surnames. create a new variable (name) with your complete name.
   
Create the follwoing variables:   
   
**nameBig**, where all the characters of the name are capitalized   
**nameTitle**, where the only the first character of each name (word) is capitalized   
**nameSmall**, where all the characters of the name are lower   
**nameCapitalized**, where only the first charater of the first name is capitalized

In [29]:
nome = input("Inserir o seu primeiro nome")
sobrenome = input("Inserir o seu sobrenome")
nameBig = nome.upper() + " " + sobrenome.upper()
nameTitle = nome.capitalize() + " " + sobrenome.capitalize()
nameSmall = nome.lower() + " " + sobrenome.lower()
nameCapitalized = nome.capitalize() + " " + sobrenome.lower()

print(nameBig)
print(nameTitle)
print(nameSmall)
print(nameCapitalized)

Inserir o seu primeiro nome Diogo
Inserir o seu sobrenome Duarte

DIOGO DUARTE
Diogo Duarte
diogo duarte
Diogo duarte

**12)** Use the follwoing method to show where in which carater appears the firs "da"
   
```python
str.find(sub,start,end)
```
   
What happens if does not find?

In [37]:
fraseprincipal = "Final do primeiro trabalho de laboratório "
fraseprincipal.find("da")

-1